@mixin flex($justify, $item) {
  display: flex;
  align-items: $item;
  justify-content: $justify;
}
@mixin flex-col($justify, $item) {
  display: flex;
  align-items: $item;
  flex-direction: column;
  justify-content: $justify;
}
